:host {
  /*display: block;*/
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /*height: 8vh;*/
  /*background-color: #303075;  !*Find a way to factor this out*!*/
  /*color: #FFFFFF;             !*Find a way to factor this out*!*/
}
