<h1 class="ui header">
  <i class="sticky note icon"></i>
  <div class="content">
    {{chordsheet?.songtitle}}
    <div class="sub header">By: {{chordsheet?.owner}}</div>
    <div class="sub header">Version: {{chordsheet?.revision}}</div>
    <div class="sub header">Last Modified: {{convertDate(chordsheet?.date)}}</div>
    <div class="sub header" *ngIf="chordsheet?.private"><em>Private Chordsheet</em></div>
  </div>
</h1>

<div class="ui teal tall stacked segment" [class.disabled]="chordsheet?.infringing">
  <app-chord-display [content]="chordsheet?.contents"></app-chord-display>
</div>

<div>
  <button class="ui button" name="FullView" [routerLink]="['/view', chordsheet?.songtitle, chordsheet?.owner, 'full']">
    <i class="search icon"></i>
    Fullscreen
  </button>
  <span *ngIf="user.isLoggedIn() && chordsheet?.owner == user.username">
    <button class="ui button" name="Edit" [routerLink]="['/edit', chordsheet?.songtitle]">
      <i class="write square icon"></i>
      Edit
    </button>
    <button class="ui button negative" name="Delete" (click)="deleteModal();">
      <i class="trash icon"></i>
      Delete
    </button>
  </span>
  <button class="ui orange button" name="Infringing" (click)="toggleInfringement();" *ngIf="user.admin">
    <i class="copyright icon"></i>
    <span *ngIf="!chordsheet?.infringing">Infringing</span>
    <span *ngIf="chordsheet?.infringing">Not Infringing</span>
  </button>
</div>

<div class="ui basic segment" *ngIf="previousRevisions?.length > 0">
  <h3>Other Versions</h3>

  <div class="ui raised segment" [class.disabled]="chordsheet?.infringing" *ngFor="let version of previousRevisions">

    <p><em>Version: {{version?.revision}}</em></p>
    <p><em>Saved: {{convertDate(version?.date)}}</em></p>
    <app-chord-display [content]="version?.contents"></app-chord-display>

    <div *ngIf="user.isLoggedIn() && chordsheet?.owner == user.username">
      <div class="ui divider"></div>
      <button class="ui button" (click)="restoreRevision(version)">Restore</button>
    </div>

  </div>
</div>

<app-modal (response)="modalResponse($event)"></app-modal>
