<h1 class="ui header">
  <i class="sticky note icon"></i>
  <div class="content">
    {{chordsheet.songtitle}}
    <div class="sub header">By: {{chordsheet.owner}}</div>
    <div class="sub header">Last Modified: {{convertDate(chordsheet.date)}}</div>
  </div>
</h1>

<div class="ui teal tall stacked segment">
  <app-chord-display [content]="chordsheet.contents"></app-chord-display>
</div>

<div *ngIf="user.isLoggedIn() && chordsheet.owner == user.username">
  <button class="ui button" name="Edit" [routerLink]="['/edit', chordsheet.songtitle]">
    <i class="write square icon"></i>
    Edit
  </button>
  <button class="ui button negative" name="Delete" (click)="deleteModal();">
    <i class="trash icon"></i>
    Delete
  </button>
</div>

<div class="ui basic segment" *ngIf="user.isLoggedIn() && chordsheet.owner == user.username">
  <h3>Other Versions</h3>
  <div class="ui raised segment" *ngFor="let version of previousRevisions">
    <p><em>Saved: {{convertDate(version.date)}}</em></p>
    <app-chord-display [content]="version.contents"></app-chord-display>
    <div class="ui divider"></div>
    <button class="ui button" (click)="restoreRevision(version)">Restore</button>
  </div>
</div>

<app-modal (response)="modalResponse($event)"></app-modal>
