<form
  #uploadform
  id="upload_form"
  class="ui form"
  accept-charset="UTF-8"
  [class.error]="error.isActive()"
  [class.warning]="warning.isActive()"
  (ngSubmit)="submit($event)">

  <!-- Header with editable title -->
  <h1 class="ui header">
    Edit
    <span class="ui transparent input">
      <input name="title" title="title" id="title" type="text" [(ngModel)]="title" [placeholder]="placeholder"/>
    </span>
  </h1>

  <!-- Upload file capability -->
  <div class="field">
    <label>Upload ChordPro Track:</label>
    <input type="file" (change)="fileUpload($event)"/>
  </div>

  <h3 *ngIf="file_contents.length == 0">OR</h3>

  <!-- Manually type in chord pro text. -->
  <div *ngIf="file_contents.length == 0" class="ui segment">
    <div class="ui stackable divided grid">
      <div class="ui two column row">

        <!-- Text box -->
        <div class="left floated column">
          <div class="field">
            <label>Enter ChordPro Text Here:</label>
            <textarea
              #chordbox
              title="chords"
              name="chords"
              form="upload_form"
              autocomplete="off"
              (keyup)="validate_event($event, chordbox.value)"
              [(ngModel)]="manual_input"></textarea> <!-- TODO: Figure out how to check on each keypress. -->
          </div>
        </div>

        <!-- Output preview -->
        <div class="right floated column">
          <app-chord-display></app-chord-display> <!-- TODO: Figure out how to pass entered text to display. -->
        </div>

      </div>
    </div>
  </div>

  <!-- Error message block -->
  <div class="field" *ngIf="error.isActive()">
    <app-error-message [title]="error.getTitle()" [messages]="error.getDetails()"></app-error-message>
  </div>

  <!-- Warning message block -->
  <div class="field" *ngIf="warning.isActive()">
    <app-error-message [title]="warning.getTitle()" [messages]="warning.getDetails()" [warning]="true"></app-error-message>
  </div>

  <!-- Control buttons -->
  <div class="field">
    <button class="ui button" type="button" (click)="resetConfirm($event)">Clear</button>
    <button class="ui button green" type="submit">Submit</button>
    <div class="ui toggle checkbox">
      <input type="checkbox" name="private" title="private" [(ngModel)]="is_private"/>
      <label>Private</label>
    </div>

  </div>
</form>

<!-- Clear form modal --> <!-- TODO: Refactor modal out into a component for reuse on all delete functions -->
<div class="ui basic modal">
  <div class="ui basic segment center aligned">
  <div class="ui header inverted">
    Clear Form
  </div>
  <div class="content center aligned">
      <p>Are you sure you want to reset the form?</p>
  </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui cancel red inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui ok green inverted button" (click)="triggerReset()">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>
</div>
