<h1>Login</h1>

<form class="ui form" [class.error]="invalid">
  <!-- Error message block -->
  <!-- TODO: Refactor these error messages into their own components -->
  <div class="ui error message">
    <div class="header">
      Failed Login
    </div>
    <p>The supplied username or password was incorrect.</p>
  </div>

  <div class="field">
    <input type="text" name="username" placeholder="Username" [(ngModel)]="username"/>
  </div>
  <div class="field">
    <input type="password" name="password" placeholder="Password" [(ngModel)]="password"/>
  </div>
  <div class="field">
    <input type="submit" value="Log In" (click)="onSubmit($event)" class="ui button green"/>
  </div>
</form>
<p><em>3rd Party Authentication coming soon!</em></p>
