<h1>Login</h1>

<form class="ui form">
  <!-- Error message block -->
  <!-- TODO: Refactor these error messages into their own components -->
  <div class="ui error message">
    <div class="header">
      Failed Login
    </div>
    <p>The supplied username or password was incorrect.</p>
  </div>

  <div class="field">
    <input type="text" placeholder="Username"/>
  </div>
  <div class="field">
    <input type="password" placeholder="Password"/>
  </div>
  <div class="field">
    <input type="button" value="Log In" class="ui button green"/>
  </div>
</form>
