<!-- TODO: class.error error occurred does not work -->
<form id="upload_form" class="ui form" [class.error]="error_occurred" (submit)="submit($event)"> <!--  -->

  <!-- Header with editable title -->
  <h1 class="ui header">
    Edit
    <span class="ui transparent input">
      <input name="title" title="title" id="title" type="text" [(ngModel)]="title" [placeholder]="placeholder"/>
    </span>
  </h1>

  <!-- Error message block -->
  <div class="ui error message">
    <div class="header">
      {{error_title}}
    </div>
    <p>
      {{error_detail}}
    </p>
  </div>

  <!-- Upload file capability -->
  <div class="field">
    <label>Upload ChordPro Track:</label>
    <input type="file" (change)="fileUpload($event)"/>
  </div>

  <h3 *ngIf="file_contents.length == 0">OR</h3>

  <!-- Manually type in chord pro text. -->
  <div *ngIf="file_contents.length == 0" class="ui segment">
    <div class="ui stackable divided grid">
      <div class="ui two column row">

        <!-- Text box -->
        <div class="left floated column">
          <div class="field">
            <label>Enter ChordPro Text Here:</label>
            <textarea title="chords" name="chords" form="upload_form" autocomplete="off"></textarea>
          </div>
        </div>

        <!-- Output preview -->
        <div class="right floated column">
          <app-chord-display></app-chord-display> <!-- TODO: Figure out how to pass entered text to display. -->
        </div>

      </div>
    </div>
  </div>

  <!-- Control buttons -->
  <div class="field">
    <button class="ui button" type="reset" (click)="resetConfirm($event)">Clear</button>
    <button class="ui button green" type="submit">Submit</button>
    <div class="ui toggle checkbox">
      <label>Private</label>
      <input type="checkbox" name="private" title="private"/>
    </div>
  </div>
</form>

<div class="ui modal">
  <div class="header">Header</div>
  <div class="content">
    <p></p>
  </div>
  <div class="actions">
    <div class="ui approve button">Approve</div>
    <div class="ui button">Neutral</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>
